<!doctype html>

<html lang="en">
    
    <head>
        
        <meta charset="utf-8">

        <title>Office Hours</title>
        <meta name="description" content="Office Hours">
        <meta name="author" content="Software Group 1">
        <meta name="apple-mobile-web-app-title" content="Office Hours">
        <meta name="application-name" content="Office Hours">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="CSS/styles.css">
        <script src="JS/scripts.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>

    <body ng-app="find-my-ta" ng-controller="FacultyUpdateAccountController">
      <div class="navigation">
          <a href="ta-home.html">Home</a>
          <span style="float: right;">Hello {{facultyUsername}}  (<a href="/login.html">Sign Out</a>)</span>
      </div>
        <div class="container-fluid">
            <div class="row">
                <div><h1 class="title">Office Hours</h1></div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row"><h2 class="loginheader">Faculty Account Update</h2></div>
                    <div class="row">
                        <form>
                            <label for="uname"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="uname" ng-model="facultyEmail">

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" ng-model="facultyPassword">

                            <label for="name"><b>Name</b></label>
                            <input type="text" placeholder="Enter Name" name="name" ng-model="name">

                            <label for="Twitter"><b>Twitter</b></label>
                            <input type="text" placeholder="Twitter" name="Twitter" ng-model="twitter">

                            <label for="Linkedin"><b>Linkedin</b></label>
                            <input type="text" placeholder="Linkedin" name="Linkedin" ng-model="linkedin">

                            <label for="Research"><b>Research</b></label>
                            <input type="text" placeholder="Research" name="Research" ng-model="research">

                            <button class="login" style="margin: 15px auto;" ng-click="addJobOpening()">Add Job Opening</button>
                            <table class="tatable" id="jobtable" style="margin-left: -222.5px; display: none;">
                                <tr>
                                    <th>&nbsp;&nbsp;&nbsp;Title</th>
                                    <th>&nbsp;&nbsp;&nbsp;Description</th>
                                    <th>&nbsp;&nbsp;&nbsp;Hours Per Week</th>
                                    <th>&nbsp;&nbsp;&nbsp;Pay Per Hour</th>
                                </tr>
                                <tr ng-repeat="x in jobOpenings">
                                    <td><input type="text" class="input" style="width: 200px;" ng-model="x.title"></td>
                                    <td><input type="text" class="input" style="width: 200px;" ng-model="x.description"></td>
                                    <td><input type="text" class="input" style="width: 100px;" ng-model="x.hoursPerWeek"></td>
                                    <td><input type="text" class="input" style="width: 100px;" ng-model="x.payPerHour"></td>
                                    <td><button class="normbtn" ng-click="deleteJobOpening($index)">Delete</button></td>
                                </tr>
                            </table>

                            <button class="login" type="submit" ng-click="updateAccount()">Update</button>
                        </form>

                    </div>

                </div>

                <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>

            </div>
            <div style="height: 50px;"></div>
        </div>
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="facultyUpdateAccountController.js"></script>
    </body>
    
</html>
