<!doctype html>

<html lang="en">
    
    <head>
        
        <meta charset="utf-8">

        <title>Office Hours</title>
        <meta name="description" content="Office Hours">
        <meta name="author" content="Software Group 1">
        <meta name="apple-mobile-web-app-title" content="Office Hours">
        <meta name="application-name" content="Office Hours">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="CSS/styles.css">
        <script src="JS/scripts.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>

    <body ng-app="find-my-ta" ng-controller="FacultyUpdateSectionController">
        <div class="navigation">
            <a href="ta-home.html">Home</a>
            <span style="float: right;">Hello {{facultyUsername}}  (<a href="/login.html">Sign Out</a>)</span>
        </div>
          <div class="container-fluid">
              <div class="row">
                  <div><h1 class="title">Office Hours</h1></div>
              </div>
  

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row"><h2 class="loginheader">Update Section Information</h2></div>
                    <div class="row">
                        <div style="text-align: center;">
                        <input type="text" class="inputpad" placeholder="Discord" ng-model="course.discord" style="margin: 15px auto;">
                        <input type="text" class="inputpad" placeholder="Slack" ng-model="course.slack" style="margin: 15px auto;">
                        <input type="text" class="inputpad" id="searchTextField" placeholder="Office Hours Location" ng-model="course.officeHoursLocation.buildingName" style="margin: 15px auto;">
                        <input type="text" class="inputpad" placeholder="Office Hours Room" ng-model="course.officeHoursLocation.room" style="margin: 15px auto;">
                        <button class="inputpad normbtn" ng-click="addOfficeHours()">Add Office Hours Time</button>
                        </div>
                        <table class="tatable" style="margin-top: 5px;">
                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;Day</th>
                                <th>&nbsp;&nbsp;&nbsp;Time</th>
                            </tr>
                            <tr ng-repeat="officeHour in course.officeHoursTimes">
                                <td><input type="text" class="input" ng-model="officeHour.day"></td>
                                <td><input type="text" class="input" ng-model="officeHour.time"></td>
                                <td><button class="normbtn" ng-click="deleteOfficeHour($index)">Delete</button></td>
                            </tr>
                        </table>
                        <div style="width: 100%; text-align: center; margin-top: 15px;">
                            <button ng-click="submit()" class="normbtn">Update</button>
                        </div>
                      <script>
                       var marker = null;
                       var place = null;

                      function initMap() {
                           // Autocomplete input
                        var input = document.getElementById('searchTextField');
                        var autocomplete = new google.maps.places.Autocomplete(input);

                        // Listen to autocomplete input
                        autocomplete.addListener('place_changed', function() {
                          place = autocomplete.getPlace();
                          if (!place.geometry) {
                            window.alert("No details available for input: '" + place.name +
                                         "'. Select one of the results.");
                            return;
                          }
                        });
                      }
                    </script>

                    <!-- Loads maps library (with places library) and then calls initMap() -->
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key=AIzaSyDezKFJ2qceq7fweXBOhZ2BJYNbUxPCP6g">
                    </script>
                </div>
            </div>
        </div>

        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>
        
        </div>
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="facultyUpdateSectionController.js"></script>
    </body>
    
</html>
