<!doctype html>

<html lang="en">
    
    <head>
        
        <meta charset="utf-8">

        <title>Find My TA</title>
        <meta name="description" content="Find My TA">
        <meta name="author" content="Software Group 1">
        <meta name="apple-mobile-web-app-title" content="Find My TA">
        <meta name="application-name" content="Find My TA">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0;">

        <link rel="stylesheet" href="CSS/styles.css">
        <script src="JS/scripts.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script>            
            window.onresize = windowcheck;
        </script>
        
    </head>

    <body onload="windowcheck()" ng-app="find-my-ta">
        <div class="navigation">
            <a href="student-home.html">Home</a>
            <span style="float: right;">Hello *Username Here* (<a href="#">Sign Out</a>)</span>
        </div>
        <div class="topwindow" id="view1" ng-controller="StudentHomeController">
        
            <div class="buttcontainer">
            <h1 style="text-align: center; margin-top: -10px; padding-top: 20px;" id="title">Find My TA</h1>
            <table class="tatable">
              <thead>
                <tr style="height: 50px;">
                    <td><strong>Course Name</strong></td>
                    <td><strong>Section Number</strong></td>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="course in enrolledCourses">
                      <td>{{course.name}}</td>
                      <td>{{course.sectionNumber}}</td>
                      <td><button ng-click="loadDetailedInfo(course)" class="stopbtn">Load Detailed Info</button></td>
                      <td><button ng-click="dropCourse(course)" class="stopbtn">Drop Course</button></td>
                </tr>
              </tbody>
            </table>
            <div class="smbuttcontainer">
                    <button class="addbutt" type="" ng-click="redirectToAddCourse()"><strong>+</strong> Add Course</button>
                </div>
            </div>
            
        
        </div>
        
        <div class="botwindow" id="view2">
        
            <div class="buttcontainer">
            
                <button class="homebutts" type="">View Office Hours</button>
                <button class="homebutts" type="">View TA Location</button>
                <button class="homebutts" type="">View Faculty Research</button>
                <div class="smbuttcontainer" style="margin-top: 20px;">
                    <button class="smallbutts" type="">Twitter</button>
                    <button class="smallbutts" type="">Facebook</button>
                    <button class="smallbutts" type="">Rate My Professsor</button>
                </div>
            
            </div>
        
        </div>
        <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="studentHomeController.js"></script>
    </body>
    
</html>
